.main-image {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh; */
    background-image: url("https://via.placeholder.com/3000x1200.png?text=Foto+do+interior");
    background-position: center; /* Center the image */
    background-size: cover;
}


